@{
    ViewBag.Title = "Not Found";
}
<hr />
<div class="text-center">
    <h1 class="text-center">We were unable to find the page you were looking for.</h1>
    <hr />
    <img src="~/Content/404.jpg" style="width: 100%;" />
</div>
