@{
    ViewBag.Title = "Server Error";
}
<hr />
<div class="text-center">
    <h1 class="text-center">Something went really, really wrong on our server.</h1>
    <hr />
    <h3>Please excuse us and act like this never happened.</h3>
    <img src="~/Content/500.jpg" style="width: 100%;" />
</div>

