@model UniversityInformationSystem.Models.ViewModels.Messages.CreateMessageSuccessViewModel
@{
    ViewBag.Title = "Successful Message";
}

<div class="col-lg-offset-3 col-m-offset-3 col-sm-offset-3">
    <p>
        Congrats, You have successfully messaged @Model.ReceiverUsername!
    </p>
</div>


