@using UniversityInformationSystem.Models.ViewModels.Admin
@(Html.Kendo().Grid<UniversityInformationSystem.Models.ViewModels.Admin.CourseViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name);
          columns.Bound(c => c.Description);
          columns.Bound(c => c.StudentsCount);
          columns.Bound(c => c.IsOpen);
          columns.Bound(c => c.Teacher).ClientTemplate("#= teacherDetails(data) #");
          columns.Command(command =>
          {
              command.Destroy();
          }).Width(120);
      })
      .ToolBar(toolbar =>
      {
          toolbar.Create();
          toolbar.Save();
      })
      .ColumnMenu()
      .Editable(editable => editable.Mode(GridEditMode.InCell))
      .Editable(settings => settings.ConfirmDelete("Yes"))
      .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.MultipleColumn);
      })
      .Filterable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Batch(true)
          .ServerOperation(false)
          .PageSize(5)
          .Model(model =>
          {
              model.Id(p => p.Id);
              model.Field(p => p.Teacher).DefaultValue(ViewData["defaultTeacher"] as CourseTeacherViewModel);
          })
          .Read(read =>
          {
              read.Action("CourseViewModels_Read", "Courses");
          })
          .Create(create => create.Action("CourseViewModels_Create", "Courses"))
          .Update(update =>
          {
              update.Action("CourseViewModels_Update", "Courses");
          })
          .Destroy(destroy => destroy.Action("CourseViewModels_Destroy", "Courses"))
      )
)

@section Scripts {
    <script>
        function teacherDetails(teacher) {
            var html = "";
            if (teacher.Teacher != null) {
                html = kendo.format("<div>{0}</div>",
                    teacher.Teacher.UserName
                );
            } else {
                html = "<div>No Teacher</div>";
            }

            return html;
        }
    </script>
}
